body {
    text-align: center;
}

#enterDetails {
    float: left;
    width: 50%;
    background-color: #4285F4;
    color: floralwhite;
}

#findDetails {
    float: left;
    width: 50%;
    background-color: #0F9D58;
    color: floralwhite;
}

input {
    width: 120px;
}